/*
 * GENERAL
 *
 */
.img-wrapper {
  overflow: hidden;
}

/*
 * HEADER
 *
 */

/*
 * NAV
 *
 */

.affix-top{
  position: fixed;
}

.back-to-top{
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}

/*
 * CONTENT
 *
 */
.n-example{
  position: relative;
  padding: 20px 50px 15px;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.n-example p{
  color: #c0c0c0;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-events{
  margin-top: 20px;
}

/*
 * FOOTER
 *
 */