/*
 * GENERAL
 *
 */
.img-wrapper {
  overflow: hidden;
}

/*
 * HEADER
 *
 */

/*
 * NAV
 *
 */

.affix-top {
  position: fixed;
}

.back-to-top {
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}

/*
 * CONTENT
 *
 */
.n-example {
  position: relative;
  padding: 20px 50px 15px;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.n-example p {
  color: #c0c0c0;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-events {
  margin-top: 20px;
}

/*
 * FOOTER
 *
 */


/*
 * EDITOR STYLE
 */

/*
 * EDITOR PREVIEW
 */

.editor {
  margin-top: 10vh;
}

.left-content {
  padding: 3vh 1vw;
}

.left-content__head {
  line-height: 36px;
}

.preview-zone {
  border: 1px solid dimgrey;
  min-height: 70vh;
}

.preview-title {
  margin-top: 2vh;
}

.preview-zone__sortable {
  padding: 0 0 10vh 0;
  min-height: 50vh;
  height: auto;
  margin-top: 2vh;
  width: 100%;
  li {
    list-style: none;
    margin: 5px 0;
    border: 1px solid black;
  }
}

/*
 * EDITOR BLOCK LIST
 */

.block-content {
  padding: 3vh 2vw;
  .nav{
    width: 100%;
  }
}

.block-content__head {
  line-height: 36px;
  text-align: center;
}

.block-btn {
  width: 100%;
  margin-bottom: 1vh;
}

.block-dropdown-menu {
  width: 100%;
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.remove-button {
  position: absolute;
  margin: 5px 0 0 5px;
  background-color: rgba(0,0,0,0.2);
  color: white;
}

