{% extends '@App/_layout.html.twig' %}

{% block nav_editor %}
    <nav class="navbar navbar-default" id="#top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NewsLetter</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% for brand in brands %}
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">{{ brand.name }}<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                {% endfor %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}

{% block body %}
    <!-- GLOBAL CONTAINER FOR EDITOR PAGE -->
    <div class="container editor">
        <div class="row">
            <!-- PREVIEW CONTAINER -->
            <div class="col-md-9 left-content" role="main">
                <div class="row left-content__head">
                    <div class="col-xs-6 text-left">
                        <h4>Prévisualisation</h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Télécharger
                        </button>
                    </div>
                </div>
                <div class="preview-zone">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 preview-title">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Titre</span>
                                <input type="text" class="form-control" placeholder="Veuillez inscrire votre titre..."
                                       aria-describedby="basic-addon1">
                            </div>
                            <div class="preview__body">
                                <!--

                                CORPS DE PREVIEW

                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- NEWSLETTER BLOCKS CONTAINER -->
            <div class="col-md-3 block-content" role="navigation">
                <div class="row block-content__head">
                    <div class="col-xs-12">
                        <h4>Modèles de blocs</h4>
                    </div>
                </div>
                <div class="blocks-list">
                    <nav class="nav">
                            {% for template in arrayTemplates %}
                                {% for bloc in template.blocs %}
                                    {% if bloc.alternatives|length > 1 %}
                                        <div class="variantes-popup">
                                            {% for alternative in bloc.alternatives %}
                                                <button type="button" class="btn btn-info btn-sm popup-btn" draggable="true">
                                                    {{ alternative.title }}
                                                </button>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="btn btn-info block-btn has-alternatives">
                                            {{ template.template.title }}
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-info block-btn" draggable="true">
                                            {{ template.template.title }}
                                        </button>
                                        {% endif %}
                                        {% endfor %}
                            {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}