/******************************************************
*
* STYLES
*
* Set differents mixins for styles
* Table of content:
* 01 - MAIN INITIALISATION
* 02 - QUERIES
* 03 - IE FIXE
* 04 - PRINT SETTINGS
*
* TODO:
* ! IMPORTANT => adapt all ~"@{var}" to @{var}
* in order to be less 1.4 compatible
*******************************************************/
/******************************************************
* 01 - MAIN INITIALISATION
*******************************************************/
/******************************************************
* TEXT-ALIGN
*******************************************************/
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.justify {
  text-align: justify !important;
}
/******************************************************
* END TEXT-ALIGN
*******************************************************/
/******************************************************
* COLOR
*******************************************************/
.pitch-black {
  color: #000;
}
.black {
  color: #333;
}
.white {
  color: #fff;
}
.main-color {
  color: crimson;
}
.secondary-color {
  color: #00a86b;
}
.text-color {
  color: #333;
}
/******************************************************
* END COLOR
*******************************************************/
/******************************************************
* BACKGROUND COLOR
*******************************************************/
.bg-pitch-black {
  color: #000;
}
.bg-black {
  color: #333;
}
.bg-white {
  color: #fff;
}
.bg-main {
  color: crimson;
}
.bg-secondary {
  color: #00a86b;
}
/******************************************************
* END BACKGROUND COLOR
*******************************************************/
/******************************************************
* DISPLAY
*******************************************************/
.none {
  display: none !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
/******************************************************
* END DISPLAY
*******************************************************/
/******************************************************
* FONT
*******************************************************/
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.ultra-bold {
  font-weight: 900;
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.small-caps {
  font-variant: small-caps;
}
/******************************************************
* END FONT
*******************************************************/
/******************************************************
* OTHER
*******************************************************/
.both {
  clear: both;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.va-top {
  vertical-align: top !important;
}
.va-middle {
  vertical-align: middle !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.va-sub {
  vertical-align: sub !important;
}
/******************************************************
* END OTHER
*******************************************************/
/******************************************************
* FUNCTION
*******************************************************/
/*.margin-top(@margin-bottom) {
	margin-top: @margin-bottom * 1.5;
}*/
/******************************************************
* END FUNCTION
*******************************************************/
/*
 *
 * Custom fonts
 *
 */
/*
 *
 * Base
 *
 */
html {
  font-size: 100%;
}
body {
  font: 100%/1.5 'Lato', Arial, sans-serif;
  background-color: #fff;
  color: #333;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  position: relative;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.headings,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Playfair Display', serif;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 2.813rem;
  margin-bottom: 1.6878rem;
  margin-top: 2.02536rem;
}
h2,
.h2 {
  font-size: 2.25rem;
  margin-bottom: 1.35rem;
  margin-top: 1.62rem;
}
h3,
.h3 {
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
  margin-top: 1.08rem;
}
h4,
.h4 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
  margin-top: 0.9rem;
}
h5,
.h5 {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  margin-top: 0.72rem;
}
h6,
.h6 {
  font-size: 0.833rem;
  margin-bottom: 0.4998rem;
  margin-top: 0.59976rem;
}
p {
  font-variant-ligatures: common-ligatures;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-bottom: 0.75rem;
}
q,
blockquote {
  padding: 1rem;
  background-color: #333;
  color: #fff;
}
hr {
  display: block;
  width: 100%;
  height: .02rem;
  min-height: 1px;
  border: none;
  margin: 2rem 0;
  clear: both;
  background: #fff;
  outline: none;
}
.last-element,
p:last-child,
q:last-child,
blockquote:last-child {
  margin-bottom: 0;
}
/*
 *
 * Specific styles
 *
 */
/******************************************************
* 02 - QUERIES
*******************************************************/
/*
 * GENERAL
 *
 */
.img-wrapper {
  overflow: hidden;
}
/*
 * HEADER
 *
 */
/*
 * NAV
 *
 */
.affix-top {
  position: fixed;
}
.back-to-top {
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}
/*
 * CONTENT
 *
 */
.n-example {
  position: relative;
  padding: 20px 50px 15px;
  background-color: #fff;
  border-color: #ddd;
  border-width: 1px 1px;
  border-style: solid;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}
.n-example p {
  color: #c0c0c0;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-events {
  margin-top: 20px;
}
/*
 * FOOTER
 *
 */
/*
 * EDITOR STYLE
 */
/*
 * EDITOR PREVIEW
 */
.editor {
  margin-top: 10vh;
}
.left-content {
  padding: 3vh 1vw;
}
.left-content__head {
  line-height: 36px;
}
.preview-zone {
  border: 1px solid dimgrey;
  min-height: 70vh;
}
.preview-title {
  margin-top: 2vh;
}
.preview-zone__sortable {
  padding: 0 0 10vh 0;
  min-height: 50vh;
  height: auto;
  margin-top: 2vh;
  width: 100%;
}
.preview-zone__sortable li {
  list-style: none;
  margin: 5px 0;
  border: 1px solid black;
}
/*
 * EDITOR BLOCK LIST
 */
.block-content {
  padding: 3vh 2vw;
}
.block-content .nav {
  width: 100%;
}
.block-content__head {
  line-height: 36px;
  text-align: center;
}
.block-btn {
  width: 100%;
  margin-bottom: 1vh;
}
.block-dropdown-menu {
  width: 100%;
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.remove-button,
.update-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  float: right;
  top: 2px;
  right: 2px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /*
 * VARIABLES
 *
 */
  /*
 * TYPO
 *
 */
  /*
 * GENERAL
 *
 */
  /*
 * NAV
 *
 */
  /*
 * CONTENT
 *
 */
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*
 * VARIABLES
 *
 */
  /*
 * TYPO
 *
 */
  /*
 * GENERAL
 *
 */
  /*
 * NAV
 *
 */
  /*
 * CONTENT
 *
 */
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*
 * VARIABLES
 *
 */
  /*
 * TYPO
 *
 */
  /*
 * GENERAL
 *
 */
  /*
 * CONTENT
 *
 */
}
